/WeatherMonitoringService/obj/WeatherMonitoringService.csproj.nuget.g.targets
/WeatherMonitoringService/obj/WeatherMonitoringService.csproj.nuget.g.props
/WeatherMonitoringServiceTests/obj/Debug/net8.0/WeatherMonitoringServiceTests.AssemblyInfo.cs
/WeatherMonitoringServiceTests/obj/Debug/net8.0/WeatherMonitoringServiceTests.GlobalUsings.g.cs
/WeatherMonitoringService/obj/Debug/net8.0/WeatherMonitoringService.GeneratedMSBuildEditorConfig.editorconfig
/WeatherMonitoringService/obj/Debug/net8.0/WeatherMonitoringService.AssemblyInfo.cs
/WeatherMonitoringService/obj/Debug/net8.0/WeatherMonitoringService.GlobalUsings.g.cs

